{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.8.0"}}},
    {jsx, "2.11.0"},
    {gen_smtp, "1.2.0"}
]}.

{plugins, [rebar3_ct]}.

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    % top_level_deps | all_deps
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    % local | "/my/file/name"
    {plt_location, local},
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    % global | "/my/file/name"
    {base_plt_location, global},
    {base_plt_prefix, "rebar3"}
]}.
{shell, [
    % {config, "config/sys.config"},
    {apps, [wallet]}
]}.
